.error {
    color: red;
    padding: 5px;
}

#feedback {
    position: fixed;
    top: 35%;
    left: 0;
    height: 0;
    text-align: right;
    z-index: 9999;
    margin-left: -85px;
}

    #feedback button {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        display: block;
    }

#frm input {
    margin: 5px;
}

.nav li a {
    padding-left: 10px;
    padding-right: 10px;
}

.table tbody tr td {
    border-bottom: solid 1px #2B3E50 !important;
}


.table thead {
    background: #2B3E50;
    font-weight: bold;
}

.table tr td {
    padding: 0;
    vertical-align: middle !important;
}

.highlight {
    background-color: #F8F8F8;
}

.row {
    margin: 10px;
}

    .row strong {
        display: block;
    }

#dvHome {
    font-size: 35px;
}

    #dvHome h3 {
        color: orangered;
        font-size: 45px;
    }

    #dvHome strong {
        display: inline !important;
        color: red;
    }

.import_excel {
    text-align: right;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.label {
    font-size: 13px;
}

.label-warning {
    color: #333;
}

.panel-heading {
    font-weight: bold;
    color: white !important;
}

.dangerBG {
    background-color: #D9534F;
}

.successBG {
    background-color: #5CB85C !important;
}