<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Set Locale - @ViewBag.Title</title>

    <link rel="shortcut icon" href="/public/img/favicon.ico" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/public/css/app.css?v=1" />
</head>
<body>



    <div id="main" class="container">



        <div class="row">
            <div class="navbar navbar-default">


                <ul class="nav navbar-nav">

                    <li><a href="/">Set Locale</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kelimeler <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li><a href="/key">Kelimeler</a></li>
                            <li><a href="/key/waiting">Çevirilmeyen Kelimeler</a></li>
                            <li class="divider"></li>

                            <li><a href="/key/new">Yeni Kelime</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Uygulamalar <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/apps">Uygulamalar</a></li>
                            <li><a href="/app/new">Yeni Uygulama</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ayarlar <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/users">Kullanıcılar</a></li>
                            <li><a href="/admin/apps">Uygulamalar</a></li>
                            <li class="divider"></li>

                            <li><a href="/admin/newtranslator">Yeni Çevirmen</a></li>
                        </ul>
                    </li>

                </ul>
                

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/user/login">Giriş</a></li>
                    <li><a href="/user/logout">Çıkış</a></li>
                    <li><a href="/user/signup">Üye ol</a></li>

                    <li style="margin-left: -10px; margin-top: -5px;"><a href="/lang/tr"><img src="/Public/img/tr.png" alt="Türkçe" /></a></li>
                    <li style="margin-left: -20px; margin-top: -5px;"><a href="/lang/en"><img src="/Public/img/en.png" alt="English" /></a></li>
                </ul>

                <form class="navbar-form navbar-right">
                    <input id="search" type="text" class="form-control col-lg-8" placeholder="Ara">
                </form>
            </div>
        </div>







        <div class="row">
            @RenderBody()
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    @RenderSection("script", false)
</body>
</html>
