@using SetLocale.Client.Web.Helpers
@model SetLocale.Client.Web.Models.HomeStatsModel
@{
    ViewBag.Title = Html.LocalizationString("home_title");
}

<div id="dvHome" class="row">
    
    <h3>@ViewBag.Title</h3>
    <hr />

    @Html.Raw(Model.Summary)

</div>

<div >
        <select id="e1">
           <option value="tr">Türkçe</option>
           <option value="az">Azərbaycan dili</option>
           <option value="cn">中文 (zhōngwén)</option>
           <option value="en">English</option>
           <option value="sp">Español</option>
           <option value="fr">Français</option>
           <option value="ru">Русский язык</option>
           <option value="gr">Deutsch</option>
           <option value="it">Italiano</option>
           <option value="tk">түркmенче (türkmençe)</option>
           <option value="kz">Қазақ тілі</option>
        </select>
</div>

@section script
{

<link href="/public/css/select2.css" rel="stylesheet"/>
<script src="/public/js/select2.js"></script>

<script>
   
    function format(state) {
        var temptext = "&nbsp;&nbsp;&nbsp;";
        if (!state.id) return state.text; // optgroup
        return "<img class='flag' src='public/img/flag/" + state.id.toLowerCase() + ".png'/>" + temptext + state.text;
    }

    $("#e1").select2({
           formatResult: format,
           formatSelection: format,
           escapeMarkup: function(m) { return m; }
    });
 
</script>


}
